#commentator {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  font-family: helvetica, arial, sans-serif;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  max-width: 300px; }
  #commentator .comment {
    background: #F3F3F3;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset, 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    margin: 0;
    padding: 8px 10px 10px 40px;
    position: relative; }
    #commentator .comment:first-of-type {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset; }
    #commentator .comment .comment-content {
      color: #444;
      font-size: 11px;
      text-shadow: 0 1px 0 #fff;
      margin: 0; }
    #commentator .comment .comment-author {
      color: #333;
      display: block;
      font-size: 13px;
      font-weight: bold;
      margin: 0 0 4px;
      text-decoration: none;
      text-shadow: 0 1px 0 #fff; }
      #commentator .comment .comment-author:hover, #commentator .comment .comment-author:focus {
        color: #777; }
      #commentator .comment .comment-author:active {
        color: #000; }
    #commentator .comment .comment-reply-link {
      color: #444;
      display: block;
      font-size: 9px;
      margin-top: 5px; }
  #commentator .comment-replies {
    margin-top: 5px; }
    #commentator .comment-replies .comment {
      box-shadow: none;
      padding-bottom: 4px;
      padding-left: 30px; }
    #commentator .comment-replies .comment-avatar {
      left: 0;
      height: 20px;
      width: 20px; }
    #commentator .comment-replies .comment-author {
      font-size: 11px; }
    #commentator .comment-replies .comment-content {
      font-size: 10px; }
  #commentator .comment-avatar {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 25px; }
  #commentator .comment-new-link {
    background: #777;
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
    text-decoration: none; }
  #commentator .commentator-comment-form {
    display: none;
    margin: 0;
    padding: 0; }
    #commentator .commentator-comment-form textarea {
      background: #fff;
      border: none;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset;
      box-sizing: border-box;
      color: #999;
      margin: 0;
      min-height: 40px;
      resize: none;
      transition: .3s all;
      padding: 5px;
      width: 100%; }
      #commentator .commentator-comment-form textarea:focus {
        color: #555;
        outline: none; }
    #commentator .commentator-comment-form button {
      background: #333;
      border: none;
      color: #fff;
      cursor: pointer;
      display: none;
      margin: 5px 0 0;
      padding: 3px 0;
      text-align: center;
      text-shadow: 0 -1px 0 #000;
      width: 100%; }
      #commentator .commentator-comment-form button:hover {
        background: #555; }
      #commentator .commentator-comment-form button:active {
        background: #000; }
  #commentator .commentator-login {
    background: #fff;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center; }
    #commentator .commentator-login.open {
      display: block; }
    #commentator .commentator-login .commentator-login-prompt {
      padding-top: 25px; }
    #commentator .commentator-login .commentator-login-button {
      background: #777;
      color: #fff;
      display: block;
      margin: 25px auto 0;
      padding: 5px 0;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 1px 0 #000;
      width: 60%; }
    #commentator .commentator-login .commentator-login-name {
      display: none; }

.has-comment {
  cursor: pointer;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  transition: background 0.2s linear; }
  .has-comment:hover {
    background-color: #d1d1d1; }
