.someClass {
  background-color: #ddd;
}

#commentator {
  background: #fff;
  border: 1px solid #eeeeee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: arial;
  width: 400px; }
  #commentator .comments {
    padding: 10px 10px 5px; }
    #commentator .comments .comment {
      margin: 0 0 15px; }
    #commentator .comments p {
      margin: 0; }
    #commentator .comments span {
      color: #aaa;
      display: block;
      font-size: 10px;
      margin-top: 3px;
      text-align: right; }
  #commentator form {
    margin: 0;
    padding: 0 5px 5px; }
    #commentator form textarea {
      resize: none;
      width: 100%; }
    #commentator form button {
      background: #333;
      border: none;
      color: #fff;
      cursor: pointer;
      display: block;
      margin: 5px 0 0;
      padding: 3px 0;
      text-align: center;
      text-shadow: 0 -1px 0 black;
      width: 100%; }
      #commentator form button:hover {
        background: #555; }
      #commentator form button:active {
        background: #000; }
