#commentator {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .08);
    font-family: helvetica, arial, sans-serif;
    max-height: 200px;
    overflow-y: scroll;
    position: absolute;
    max-width: 300px;

    .comments {}
    .comment {
        background: #F3F3F3;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .75) inset, 0 -1px 0 rgba(0, 0, 0, .05) inset;
        margin: 0;
        padding: 8px 10px 10px 40px;
        position: relative;

        &:first-of-type { box-shadow: 0 -1px 0 rgba(0, 0, 0, .05) inset; }

        .comment-content {
            color: #444;
            font-size: 11px;
            text-shadow: 0 1px 0 #fff;
            margin: 0;
        }

        .comment-author {
            color: #333;
            display: block;
            font-size: 13px;
            font-weight: bold;
            margin: 0 0 4px;
            text-decoration: none;
            text-shadow: 0 1px 0 #fff;

            &:hover, &:focus { color: #777; }
            &:active { color: #000; }
        }

        .comment-reply-link {
            color: #444;
            display: block;
            font-size: 9px;
            margin-top: 5px;
        }
    }

    .comment-replies {
        margin-top: 5px;

        .comment {
            box-shadow: none;
            padding-bottom: 4px;
            padding-left: 30px;
        }

        .comment-avatar {
            left: 0;
            height: 20px;
            width: 20px;
        }

        .comment-author { font-size: 11px; }
        .comment-content { font-size: 10px; }
    }

    .comment-avatar {
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
        border-radius: 50%;
        height: 25px;
        position: absolute;
            top: 8px; left: 8px;
        width: 25px;
    }

    .comment-new-link {
        background: #777;
        color: #fff;
        display: block;
        font-size: 14px;
        padding: 5px 0;
        text-align: center;
        text-decoration: none;
    }

    .commentator-comment-form {
        display: none;
        margin: 0;
        padding: 0;

        textarea {
            background: #fff;
            border: none;
            border-radius: 0 0 5px 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .05) inset;
            box-sizing: border-box;
            color: #999;
            margin: 0;
            min-height: 40px;
            resize: none;
            transition: .3s all;
            padding: 5px;
            width: 100%;

            &:focus {
                color: #555;
                outline: none;
            }
        }

        button {
            background: #333;
            border: none;
            color: #fff;
            cursor: pointer;
            display: none;
            margin: 5px 0 0;
            padding: 3px 0;
            text-align: center;
            text-shadow: 0 -1px 0 #000;
            width: 100%;

            &:hover { background: #555; }
            &:active { background: #000; }
        }
    }

    .commentator-login {
        background: #fff;
        display: none;
        position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
        text-align: center;

        &.open { display: block; }

        .commentator-login-prompt { padding-top: 25px; }

        .commentator-login-button {
            background: #777;
            color: #fff;
            display: block;
            margin: 25px auto 0;
            padding: 5px 0;
            text-align: center;
            text-decoration: none;
            text-shadow: 0 1px 0 #000;
            width: 60%;
        }

        .commentator-login-name { display: none; }
    }
}

.has-comment {
    cursor: pointer;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;

    &:hover { background-color: #d1d1d1; }
}
